force-app/main/default/flows/WorkoutFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Workout_Plan</name>
        <label>Get Workout Plan</label>
        <locationX>470</locationX>
        <locationY>176</locationY>
        <actionName>GenerateWorkoutTimer</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>workoutDetail</name>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>valueAssignment</name>
        <label>valueAssignment</label>
        <locationX>256</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>valuesToPass</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Number_of_Set</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>valuesToPass</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Workout_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Workout_Plan</targetReference>
        </connector>
    </assignments>
    <interviewLabel>WorkoutFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkoutFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Enter_Workout_Detail</name>
        <label>Enter Workout Detail</label>
        <locationX>166</locationX>
        <locationY>187</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>valueAssignment</targetReference>
        </connector>
        <fields>
            <name>Workout_Time</name>
            <dataType>Number</dataType>
            <fieldText>Workout Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Number_of_Set</name>
            <dataType>Number</dataType>
            <fieldText>Number of Set</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Enter_Workout_Detail</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>valuesToPass</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
